{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "ssr": true,
                "displayName": true,
                "fileName": false
            }
        ]
    ],
    "env": {
        "test": {
          "plugins": ["dynamic-import-node"]
        }
      }
}